<h5>A new post was added in <%= link_to @group.name, @group %> by <%= @post.user.name %></h5>

<blockquote>
<%= @post.title %>
</blockquote>

<blockquote>
<%= @post.entry %>
</blockquote>

<h5>See it <%= link_to "here", group_post_url(@group, @post) %></h5>
