<% if @replies %>
  <% @replies.each do |reply| %>
    <div class="row columns">
      <div class="small-12 medium-10 columns">
        <div class="avatar">
          <%= image_tag(reply.user.photo.url, size: "35x35", :class => "gravatar") %>
        </div>
        <div data-id="<%= reply.id %>" class="post-entry reply">
          <strong><%= reply.user.name %></strong><span class="time"><%= " " + distance_of_time_in_words(reply.created_at, Time.now) + " ago" %></span>
          <br><br>
          <%= raw(reply.entry) %>
        </div>
        <hr>
      </div>
    </div>
  <% end %>
<% end %>
