<h5>A new reply was added in <%= link_to @group.name, @group %>/<%= link_to @post.title, group_post_url(@group, @post) %> by <%= @reply.user.name %></h5>

<blockquote>
<%= raw(@reply.entry) %>
</blockquote>

<h5>See it <%= link_to "here", group_post_url(@group, @post) %></h5>
