<%= form_for [@group, @post] do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this Post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h3 id="storyheader">New Post</h3>

<div class="row left">
  <div class="small-12 medium-8 columns">
    <%= f.label "Title", class: "bold" %><br>
    <%= f.text_field :title, class: "radius" %>
  </div>
</div>

<div class="row left">
  <div class="small-12 medium-8 columns">
    <%= f.label "Entry", class: "bold" %><br>
    <%= f.cktext_area :entry, :cols=>"50", :rows=>"15", class: "radius" %>
  </div>
</div>



<div class="row left">
  <div class="small-12 columns">
    <%= f.submit "Create Post", class: 'button tiny radius' %>

<%end%>
