<%= form_for [@group, @post] do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this Post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h3 id="storyheader">New Post</h3>

<div class="row left">
  <div class="small-12 medium-8 columns">
    <%= f.label "Title", class: "bold" %><br>
    <%= f.text_field :title, class: "radius" %>
  </div>
</div>

<div class="row left spacer">
  <div class="small-3 medium-2 columns">
    <%= f.collection_select(:tag_id, Tag.all.order(:name), :id, :name, :prompt => true ) %>
  </div>
</div>

<div class="row left spacer">
  <div class="small-12 medium-8 columns">
    <%= f.label "Entry", class: "bold" %><br>
    <hr class="linespace">
    <%= f.text_area :entry, :id => 'newreply' %>
  </div>
</div>



<div class="row left">
  <div class="small-12 columns">
    <%= f.submit "Create Post", class: 'button tiny radius' %>

<%end%>

<script>
  $(function() {
    $('textarea#newreply').froalaEditor({
      imageUploadURL: '/postupload',
      fileUploadURL: '/postupload',
      entities: '&#39;',
      requestHeaders: {
        'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
      },
      imageUploadParams: {
        id: 'my_editor'
      },
      placeholderText: 'Type something',
      toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'fontFamily', 'fontSize', 'color', 'formatParagraph', 'paragraphStyle', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'insertLink', 'insertImage', 'insertFile', 'insertVideo', 'insertTable', 'undo', 'redo', 'html', 'clearFormatting', 'fullscreen'],
    })
  });
</script>
