<div class="bodywrapper">
<br>
<div class="head"></div>
<div class="row columns">
  <div class="small-10 columns">
    <h3 id="storyheader"><%= link_to @group.name, group_path(@group) %> / <%= @post.title %></h3>
   </div>



</div>



<div class="row columns">
  <div class="small-12 medium-10 columns ">
    <hr>

    <div class="avatar">
      <%= image_tag(@post.user.photo.url, size: "35x35", :class => "gravatar") %>
    </div>
    <div class="post-entry">
      <strong><%= @post.user.name %></strong>
      <%= link_to '+   REPLY', new_group_post_reply_path(@group, @post), :class=>'button tiny radius right', 'data-no-turbolink' => true, remote: true %>

      <br><br>
      <%= raw(@post.entry) %>
    </div>
    <br>
        <hr>
  </div>
</div>

<% if @replies %>
  <% @replies.each do |reply| %>
    <div class="row columns">
      <div class="small-12 medium-10 columns ">
    <div class="avatar">
      <%= image_tag(reply.user.photo.url, size: "35x35", :class => "gravatar") %>
    </div>
    <div class="post-entry">
      <strong><%= reply.user.name %></strong>
      <br><br>
      <%= raw(reply.entry) %>
    </div>
        <hr>
  </div>
  </div>

  <% end %>
<% end %>




</div>
