<div class="bodywrapper">
<br>
<div class="head"></div>
<div class="row columns">
  <div class="small-10 columns">
    <h3 id="storyheader" style="float: left;"><%= link_to @group.name, group_path(@group) %> / <%= @post.title %></h3>
    &nbsp;<span id='posttag' class='<%= @post.tag.color %> label radius'><%= @post.tag.name %></span>
  </div>
</div>



<div class="row columns">
  <div class="small-12 medium-10 columns ">


    <div class="avatar">
      <%= image_tag(@post.user.photo.url, size: "35x35", :class => "gravatar") %>
    </div>
    <div class="post-entry">
      <div class="post-header">
        <strong><%= @post.user.name %></strong><span class="time"><%= " " + distance_of_time_in_words(@post.created_at, Time.now) + " ago" %></span>
        <!--<%= link_to '+   REPLY', new_group_post_reply_path(@group, @post), :class=>'button tiny radius right', 'data-no-turbolink' => true, remote: true %>-->
        <% if @post.user.name == @user.name %>
          <%= link_to "#{image_tag("pencil2.png", size: "20")}".html_safe, edit_group_post_path(@group, @post), :title => "Edit", remote: true %> <%= link_to "#{image_tag("cross.png", size: "15")}".html_safe, group_post_path(@group, @post), :title => "Delete", :title => "Delete", method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
      <div class="post-body" id="postbody">
        <%= raw(@post.entry) %>
      </div>
    </div>
  </div>
</div>

<div id="replies" data-url="<%= group_post_replies_url(@group, @post) %>">

    <%= render 'replies/getit' %>

</div>

<div class="add-reply">
  <%= render "layouts/add_reply" %>
</div>



</div>
