<div class="row columns">
  <div class="small-12 columns">
    <% if @posts %>
      <table id="postrows">
        <tbody>
          <% @posts.each do |post| %>

            <% unless @last_visit.nil? %>
              <% newcomments = post.replies.where("created_at > ?", @last_visit) %>
            <% end %>
            <tr data-href= "<%= group_post_path(@group, post) %>">
              <% if newcomments.nil? %>
                <% newcomments = 0 %>
              <% end %>
              <% if newcomments.size > 0 %>
                <td style="border-left: 5px solid rgb(255, 255, 255);" colspan="2"><%= post.title %> <%= image_tag("exclamation2.png", size: "15x15") %></td>
              <% else %>
                <td style="border-left: 5px solid rgb(255, 255, 255);" colspan="2"><%= post.title %></td>
              <% end %>
              <td><%= distance_of_time_in_words(post.created_at, Time.now) %> ago</td>
              <td><span class='<%= post.tag.color %> label radius'><%= post.tag.name %></span></td>
              <td><%= image_tag(post.user.photo.url, size: "25x25", :class => "gravatar") + ' ' + post.user.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
