<div class="row columns">
  <div class="small-4 medium-2 columns sizer">

    <a href="#" data-dropdown="drop1" class="button dropdown tiny radius"><%= @group.name %></a>
    <ul id="drop1" data-dropdown-content class="f-dropdown">
      <% @allowed.each do |group| %>
        <% unless @group.name == group.name %>
          <li><%= link_to group.name, group %></li>
        <% end %>
      <% end %>
    </ul>

</div>
<div class="small-5 medium-2 columns">
    <%= link_to '+   Post', new_group_post_path(@group), :class=>'button tiny radius' %>
</div>
<div class="medium-4 columns show-for-medium-up sizer2">
    <%= form_tag group_posts_path(@group), :method => 'get' do %>
      <%= text_field_tag :search, params[:search], class: "left inline textfield-size" %> <%= submit_tag "Search", :name => nil, class: "button tiny radius right" %>
   <% end %>
  </div>
</div>
