<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= favicon_link_tag 'favicon.png' %>

    <title><%= content_for?(:title) ? yield(:title) : "Core" %></title>

    <%= stylesheet_link_tag    "application" %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", "#{ENV['SERVER']}/faye.js" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= yield %>
    </main>

    <%= render 'layouts/messages' %>
    <a name="end"></a>
    <% if controller.controller_name == 'posts' && controller.action_name == 'show' %>

    <% end %>
  </body>
</html>

<script>
  $.Editable.DEFAULTS.key = '<%= ENV['FROALA_KEY'] %>';
</script>
